<!doctype html>
<html lang="en">
<head>
    <title>Add Schedule</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load static %}

        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static 'Styles.css' %}" />
</head>
    {% include "navbar.html" %}
    <div class="container-fluid">
        <div class="row">
            <div class ="col">
                <h1>
                    <p> Fill up schedule with available forms below </p>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form action="save_schedule/" method="POST">
                    <div class="form-group">
                        {% csrf_token %}

                        {{ create_jadwal }}
                    </div>
                    <button type="submit" class="btn btn-light">Save</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

