<!doctype html>
<html lang="en">
<head>
    <title>Save Schedule</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load static %}

        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static 'Styles.css' %}" />
</head>
<body>
    {% include "navbar.html" %}
    <h1>
        {{ save_status }}
    </h1>
</body>
</html>