<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
<title>My Projects</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load static %}

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static 'Styles.css' %}" />
</head>
<body>
{% include "navbar.html" %}
    <div class = "bg4">
                <a href="{% url 'index' %}"><img id = "home" src={% static 'menu-back@2x.png' %} alt="Home" title="Back to Home"></a>
            <div class="container">
                <div class="page-header">
                    <h1 id = "center">My Projects</h1>
                    <p id = "center">I'm currently on a mission to translate Japanese Visual Novels into English as ways and means to improve my experience on writing and deepen my Japanese Skill</p>
                </div>
                <h3><b>Rensou Relation (恋想リレーション)</b></h3>
                <img id = "rensou" class = "center" src={% static 'rensou.jpg' %} alt="Rensou Relation" title="Rensou Relation">
                <p id = "center">The VN that I want to translate as my first project. I don't see any fan translations picking this up so I think this is a good opportunity to pick this one up.</p>
                <p id = "center">Progress Status:</p>
                <div class="progress" style="height: 20px">
                        <div class="progress-bar progress-bar-striped active progress-bar-animated"  id = "rensoubar" role="progressbar"
                        aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style= width:5%;>
                            5%
                        </div>
                </div> 
                <h4 id = "center">Opening Movie</h4>  
                <iframe class = "center" width="560" height="315" src="https://www.youtube.com/embed/rzeYDuZmom0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
    </div>
</body>