<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
<title>Welcome to my site</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load static %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static 'Styles.css' %}" />
</head>
<body>
{% include "navbar.html" %}
    <div class="container-fluid">
        <div class="row homepage">
            <h1 id = "welcome">WELCOME TO MY SITE</h1>
            <div class="row">
                <div class="col-md-6">
                    <a id = "gotoprojects" type = "button" href = "{% url 'project' %}" class="btn btn-primary" role="button">My Projects</a>
                </div>
                <div class="col-md-6">
                    <a id = "about" type = "button" href="{% url 'about' %}" class="btn" role="button">About me</a>
                </div>
                    <a id = "about2" href="{% url 'website' %}">What's this website about?</a>
                </div>
            </div>    
            </div>
</body>
    
<button