<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
<title>What's this website about?</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load static %}

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static 'Styles.css' %}" />
</head>
<body>
{% include "navbar.html" %}
<div class = "container-fluid">
    <div class = "row bg5">
        <div class = "col-md-12">
            <div class = "col-md-10">
                <h1  class = "center" id = "webabout">This website will be about my profile, backgrounds, and ambitions for the future.</h1>
            </div>
            <div class = "col-md-2">
                <a href="{% url 'index' %}"><img id = "home" src={% static 'menu-back@2x.png' %} alt="Home" title="Back to Home"></a>
            </div>
            </div>
        </div>
    </div>

</body>