<!doctype html>
<html lang="en">
<head>
    <title>About me</title>
        <!-- Required meta tags -->
    <title>Welcome to my site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load static %}

        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static 'Styles.css' %}" />
</head>
<body>
{% include "navbar.html" %}
<div class = "container-fluid">
    <div class="bg2 bg3">
        <h1 id = "root">Uhh, let's start with the roots, okay?<br>My name is Exacta Febrinanto Abdillah and you can call me Exacta.</h1>
        <p class="text" id="everything">
                Everything about me:<br>I'm a young aspiring programmer.<br>I'm an Indonesia that loves to watch and read and learn anything Japanese, e.g. its culture, Anime, Manga, and Japanese Language.<br>My hobby is playing/reading visual novels and playing Table Tennis.
        </p>
        <a type = button href = "{% url 'website' %}" class = "btn btn-primary" >What is this website about?</a>
        <p class="text" id="almamaters">Track Record<br>Currently learning on The University of Indonesia as a Computer Science student.<br>Almamaters:<br>-39 Jakarta Senior High School<br>-9 Jakarta Junior High School<br>-11 Cibubur Elementary School</p>
        <p class="text" id="skills">Skills:<br>1. Japanese Language, currently on JLPT N4 level.<br>Basic programming w/ Java and Python as base languages.</p>
        <p class ="text" id = "contacts">Contacts</p>
        <a href="https://www.twitter.com/subtodub"><img id = "twitter" src={% static 'twittericon.png' %} alt="My Twitter"></a>
        <a href="{% url 'index' %}"><img id = "home" src={% static 'menu-back@2x.png' %} alt="Home" title="Back to Home"></a>
        <img id = "line" src={% static 'line.png' %} alt="My Line" title="ID: exacta1408">
        <img id = "gmail" src={% static 'gmail.png' %} alt="My Email" title="exactadewa@gmail.com">
        <img id = "pp" src={% static 'UserPhoto.jpg' %} alt="My Photo">
    </div>
    </div>
</body>