<!doctype html>
<html lang="en">
<head>
    <title>View My Schedule</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load static %}

        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static 'Styles.css' %}" />
</head>
<body>
    {% include "navbar.html" %}
    <div class="container-fluid">

        <div class="row">
            <div class="col"><h1>Here is my schedule</h1></div>
        </div>
        
        <div class="row">
            <div class="col"><p>Day</p></div>
            <div class="col"><p>Date and Hour</p></div>
            <div class="col"><p>Activity Name</p></div>
            <div class="col"><p>Place</p></div>
            <div class="col"><p>Category</p></div>
            <div class="col"><p>Delete this</p></div>
        </div>


        {% for schedule in schedules %}
        <div class="row">
            <div class="col"><p>{{ schedule.day }}</p></div>
            <div class="col"><p>{{ schedule.date_hours }}</p></div>
            <div class="col"><p>{{ schedule.activity_name }}</p></div>
            <div class="col"><p>{{ schedule.place}}</p></div>
            <div class="col"><p>{{ schedule.category }}</p></div>
            <div class="col"><a class = "btn btn-primary" href = "{% url 'clear_schedule' schedule.id%}" role = "button"><p>Delete</p></a></div>
        </div>
        {% endfor %}
        

    </div>